.section{
    width: 100%;
    padding: 60px 20px;
    background: #f9fafb;
}

.article{
    width: 100%;
    display: grid;
    place-items: center;
    gap: 20px;

    && h2{
        text-align: center;
    }

    && p{
        text-align: center;
    }
}

.cards{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 5px;
    width: 100%;
    justify-content: flex-start;
}

@media only screen and (min-width: 1024px){
    .cards_section{
        display: flex;
        gap: 40px;
    }

    .cards{
        flex-direction: column;
        justify-content: start;
        width: 50%;
    }
}