.section{
    width: 100%;
    margin-top: 90px;
    padding: 80px;
    display: grid;
    place-items: center;
    gap: 100px;

    && article{
        width: 100%;
        max-width: 90ch;
        display: grid;
        gap: 20px;
        place-content: center;
    }

}

.boton{
    color: #0080ff;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
}

.render3d{
    display: grid;
    place-items: center;
    gap: 30px;

    && h3{
        font-size: 1.7rem;
    }
}
