.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    background: white;
    background-color: rgb(255 255 255 / 70%);
    backdrop-filter: blur(10px);
    z-index: 20;
}

.nav{
    display: grid;
    place-items: center;
    display: none;
}

.ul{
    display: flex;
    gap: 20px;
}

@media only screen and (min-width: 1024px){
    .nav{
        display: grid;
    }

    .bars{
        display: none;
    }
}

